# Filename : start.config
# Description:
#     This is a simple configuration file read by start.sh

GLOBAL_SETTINGS
	
	# LAB_MASTER_SEED - this is the master seed string specific to this laboratory
	LAB_MASTER_SEED web_lab_seed_lab
	REGISTRY blutsh
# SUBNETS
NETWORK EXT_VMS 
	MASK 172.22.0.0/16 
    GATEWAY 172.22.0.1
	MACVLAN_EXT 3


# Container name and settings
CONTAINER attacker
	USER ubuntu
	CLIENT YES
	X11 YES
	NO_PRIVILEGE YES
	EXT_VMS 172.22.100.10+CLONE_MAC

CONTAINER juiceshop
	 CLIENT YES
     USER ubuntu
     TERMINALS 0
     SCRIPT none
	 NO_PRIVILEGE YES
	 EXT_VMS 172.22.200.10+CLONE_MAC
