# goals.config
# 
# Please see the Labtainer Lab Designer User Guide

#DOC: Controle si etudiant a donner un feedback a 0 etoiles
_feedback = boolean : (feedback and feedback)
#DOC: Controle si etudiant a pu creer un compte admin en modifiant la requete POST a l'API
_reg_admin = boolean : (reg_admin and reg_admin)
#DOC: Controle si etudiant a pu recuperer le moteur de la base de donnee en generant une erreure
_sqlite_error = boolean : (sqlite_error and sqlite_error)
#DOC: Controle si etudiant a pu recuperer le script de creation de la db
_shema_db = boolean : (shema_db and shema_db)
#DOC: Controle si etudiant a pu recuperer les logins administrateurs en faisant une injection sql
_sqlite_inject = boolean : (sqlite_inject and sqlite_inject)
#DOC: Controle si etudiant a pu se connecter en tant qu'admin
_login_admin = boolean  : (login_admin and login_admin)
#DOC: Controle si l'etudiant a pu modifier le token JWT et bypass sa signature
_jwt_bypass_sig = boolean : (jwt_unsigned and jwt_unsigned)