# goals.config
# 
# Please see the Labtainer Lab Designer User Guide

#DOCS: Student got a shell by exploiting eternal blue
eternal_blue = boolean : ( _smb_open and _use_exploit and _got_meterpreter)

#DOCS: Student retrieved hashes from WS01
got_hashes = boolean : ( _ran_hashdump_post and _loaded_kiwi and _ran_creds_all )
