# goals.config
# 
# Please see the Labtainer Lab Designer User Guide

#DOCS: 3.1 reconaissance (nmap)
3_1_reconaissance_nmap = boolean : ( _ran_nmap and _ran_nmap )

#DOCS: 3.1 reconaissance (smb_version)
3_1_reconaissance_smb_version = boolean : ( _ran_smb_scan and _ran_smb_scan )

#DOCS: 3.2 exploit (smb_ms17_010)
3_2_exploit_smb_ms17 = boolean : ( _ran_smb_scan_ms17 and _ran_smb_scan_ms17 )

#DOCS: 3.2 exploit (exploit)
3_2_exploit_ms17 = boolean : ( _use_exploit and _use_exploit)

#DOCS: 3.2 exploit (correct payload)
3_2_exploit_ms17_payload = boolean : ( _set_payload and _set_payload)

#DOCS: 3.2 exploit (got meterpreter shell)
3_2_exploit_ms17_got_shell = boolean : ( _got_meterpreter_shell and _got_meterpreter_shell)

#DOCS: 3.3 vols (cachedump)
3_3_vols_cachedump = boolean : ( _ran_cachedump_post and ran_cachedump_post)

#DOCS: 3.3 vols (hashdump)
3_3_vols_hashdump = boolean : ( _ran_hashdump_post and _ran_hashdump_post)