# Filename : start.config
# Description:
#     This is a simple configuration file read by start.sh

GLOBAL_SETTINGS
        # GRADE_CONTAINER - container where instructor will perform grading
	GRADE_CONTAINER workstation

	# HOST_HOME_XFER - directory to transfer artifact to/from containers
	HOST_HOME_XFER seed_dir/
	
	# LAB_MASTER_SEED - this is the master seed string specific to this laboratory
	LAB_MASTER_SEED poc1_seed_lab

	REGISTRY blutsh

# SUBNETS
NETWORK EXT_VMS 
	MASK 192.168.228.0/24 
    GATEWAY 192.168.228.1
	MACVLAN_EXT 4

# Container name and settings
CONTAINER workstation
	USER ubuntu
	CLIENT YES
	EXT_VMS 192.168.228.21

